* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-top: 20px;
}

.contents {
    margin-top: 60px;
    display: flex;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.control {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
    padding: 20px;
}

.control input,
.control select {
    margin-top: 20px;
}

.control select,
.control button {
    background-color: #6495ed;
    padding: 5px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 900;
    outline: none;
}

.sketchpad {
    margin: 60px auto;
    margin-bottom: 0;
    width: 600px;
    height: 600px;
    display: grid;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

.square {
    cursor: pointer;
}